[core]
    editor = vim
    excludesfile = ~/.gitignore
[user]
    name = Erlend Hårstad
    email = ehar@outlook.com
[color]
    ui = true
    branch = true
[credential]
    helper = cache --timeout=3600
[push]
    default = simple
    autoSetupRemote = true
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[fetch]
    prune = true
    all = true
[branch]
    sort = -committerdate
[diff]
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = true
