[core]
    editor = vim
    excludesfile = ~/.gitignore
[user]
    name = Erlend Hårstad
    email = ehar@outlook.com
[color]
    ui = true
    branch = true
[credential]
    helper = cache --timeout=3600
[push]
    default = simple
    autoSetupRemote = true
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[fetch]
    prune = true
    all = true
[branch]
    sort = -committerdate
[diff]
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = true
[alias]
    # listing aliases
    la = "!git config -l | grep alias | cut -c 7-"

    # misc
    s = status

    # inspect last commit
    dl = "!git lg2 -1"
    dlc = diff --cached HEAD^

    # finding file
    f = "!git ls-files | grep -i"

    # diff with vim
    d = difftool
